<h1 class="text-center" >Stupid questions</h1>
<h2 class="text-center">Your question was: <%=@question%></h2>
<h2 class="text-center">Your coach answered: <%= @answer %></h2>
<h1 class="text-center"><%= link_to "Zurück", "ask" %></h1>
